<!-- Experience Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted">officially what i have been doing</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        
<!--
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Your
                                    <br>Company
                                    <br>here &#9786;    </h4>
                            </div>
                            <p></p>
                        </li>
-->
                        
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/resume/pershing.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>Nov 2014 - Present</h5>
                                    <h4 class="subheading">Pershing - A BNY Mellon Company</h4>
                                    <h5 class="subheading">UX Designer Consultant</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As a UX Designer at Pershing I work with multiple stakeholders that includes Business, Product and Technology to design workflow and interfaces, both as static wireframes and interaction desing for the flagship NetX360 project spanning across differnt platforms like Desktop, Web and Mobile. I am also actively involved in redesigning Pershing's Android offering to follow Google's design guidelines.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/resume/microstrategy.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>Dec 2012 - Oct 2014</h5>
                                    <h4 class="subheading">Microstrategy Inc.</h4>
                                    <h5 class="subheading">Software Design Engineer</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As a Design Engineer on the Android Platform, I helped MSTR design and implement visualization widgets both in current hybrid and future native app framework. I worked with PM and Visual Deisgners to improve the aestheitcs and conducted User Interviews of intermediate designs. I implemented the Google Maps V2 API's on both the Microstrategy app as well as the standalone Wisdom app.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/resume/umd-logo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>Aug 2011 - Dec 2012</h5>
                                    <h4 class="subheading">University of Maryland</h4>
                                    <h5 class="subheading">Graduate Assistant</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I worked on two web-applications from scratch. One was the redesign of <a href="">AAST Website</a> and the other was to create an MVC webapp to automate the tasks of <a href="">SSO Re-Admission Process</a>.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/resume/drfirst.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>Jan 2010 - Aug 2011</h5>
                                    <h4 class="subheading">DrFirst, Inc</h4>
                                    <h5 class="subheading">Sr. Software Engineer</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As a Sr. Software Engineer I helped DrFirst(a healthcare startup) achieve CCHIT certification and helped to implement the EPCSv2.0. I lead offshore resources on upgrading the Payor-Engine module and also took the responisbility of a Subversion(SVN) administrator.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/resume/umd-logo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>Apr 2008 - Dec 2009</h5>
                                    <h4 class="subheading">University of Maryland</h4>
                                    <h5 class="subheading">Graduate Assistant</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As a Graduate Assistant, I supported the office of <strong>Maryland Technology Enterprise Institute</strong> as an IT &amp; Network Engineer. I was responsible for maintaining and optimizing the network, data servers, client machines etc. I was also involved in developing features to the internal web application.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/resume/microsoft.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>Jul 2005 - Jan 2008</h5>
                                    <h4 class="subheading">Microsoft, Inc</h4>
                                    <h5 class="subheading">Sr. Software Consultant</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As a Sr. Consultant from Wipro to Microsoft, I helped the Appcompat team create automation scripts and developed UI tools that can quickly create automation jobs for the scripts. I helped a team of freshers in training and also managed their work/time allocations.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-last">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/resume/cair.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>Nov 2004 - May 2005</h5>
                                    <h4 class="subheading">Center for AI and Robotics</h4>
                                    <h5 class="subheading">Researech Intern</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Led the User Experience improvement of an OCR system by redesiging the User Interface of the system that was used to input data from paper applications. Developed features like drag-n-drop, image resize, multi-page forms and common editing features like cut, copy, paste and save to post- script format for printing.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>